ion-content {
    --padding-top: 150px; //arriba
    --padding-bottom: 100px; //abajo
    --padding-start: 50px; //izquierda
    --padding-end: 50px; //derecha
    
    .texto-contenido {
        text-align: center;
        padding-top: 50px;
        font-size: 40px;
    }
    .text-container{
        white-space: normal !important;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-shadow: 4px 4px 4px #41478b;
        color: rgb(209, 218, 225);
        font-weight: bold;
    }

    .center-container {
        height: 60%; // Ocupa toda la altura disponible en el ion-content
        display: flex;
        justify-content: center; // Centra horizontalmente
        align-items: center; // Centra verticalmente
        width: auto;
    }

    .boton-comenzar {
        /* Ionic usa padding por defecto, pero puedes sobreescribirlo si quieres más alto o más ancho */
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-start: 50px;
        --padding-end: 50px;
        /* Cambiar el tamaño del texto */
        font-size: 1.2rem; // 1.2 veces el tamaño de fuente base
        --background: #9db3cb;
        /* Un verde Ionic típico */
        --background-hover: #41478b;
        --border-radius: 20px;
        color: #0714a1;
        text-transform: capitalize;
        font-size: 20px;

    }

}