ion-content {
    --background: rgb(18, 60, 132);
    position: relative;

    .header {
        display: flex;
        justify-content: space-between; //separar iconos
        padding: 1rem 1rem; //distancia del borde

        .btnHeader {
            height: 60px;
            width: 60px;
        }

    }

    .card {
        height: 75%;
        width: 100%;
        background: #fff;
        position: absolute;
        bottom: 0;
        border-radius: 3rem 3rem 0 0;
        padding: 2rem;

        .product-image {
            height: 120px;

            img {
                position: absolute;
                top: -6.5rem;
                width: 50%;
                left: 50%;
                transform: translateX();
                // height: 100%;
                // object-fit: cover;

            }
        }
    }
}