<ion-content >
  <div class="header">
    
      <ion-button class="btnHeader" (click)="regresarMenu()">        
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
        
      <ion-button class="btnHeader" (click)="irAlCarrito()">       
        <ion-icon slot="icon-only" color="light" name="heart-outline"></ion-icon>
      </ion-button>    
  </div>

  <!-- DETALLE DE PRODUCTOS -->
   <div class="card">
    <div class="image">
      <ion-img src="./assets/icon/engranaje.png"></ion-img> 
    </div>
   </div>
</ion-content>
