ion-content {
    --background: rgb(18, 60, 132);
    position: relative;

    .header {
        display: flex;
        justify-content: space-between; //separar iconos
        padding: 1rem 1rem; //distancia del borde

        .btnHeader {
            height: 60px;
            width: 60px;
        }

    }

    


}