<ion-content >
  <div class="header">
    
      <ion-button class="btnHeader" (click)="regresarMenu()">        
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
        
      <ion-button class="btnHeader" (click)="irAlCarrito()">       
        <ion-icon slot="icon-only" color="light" name="heart-outline"></ion-icon>
      </ion-button>    
  </div>

  <!-- DETALLE DE PRODUCTOS -->
   <div class="card">
    <div class="product-image">
      <img [src]="product?.image || 'assets/icon/default.png'" alt="Imagen del producto" /> 
    </div>
    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{ product?.name }}</h1>
        <p class="ion-no-margin"><sup>S/.</sup>{{product?.price | number:'1.2'}}</p>
      </div>
    </div>
   </div>
</ion-content>
