.payment-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}
ion-header {
  ion-toolbar {
    --background: var(--app-background);
    padding: 0 16px;
  }
  .main-title {
    font-size: 24px;
    font-weight: 700;
    color: #0d3c8d;
    padding-left: 0;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Payment Methods Section */
.payment-methods {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 15px;
}

.payment-methods h3 {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.view-more {
  position: absolute;
  top: 85px;
  right: 25px;
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}

.method-icons {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.method-btn {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: 7px solid #ddd;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px; 
}

/* Form Styling */
.form-group {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

input::placeholder {
  color: #aaa;
}

.form-row {
  display: flex;
  gap: 10px;

}

.expiration-group {
  flex: 60%;
}

.cvv-group {
  flex: 40%;
  position: relative;
}

.view-details {
  position: absolute;
  top: 85px;
  right: 0;
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}

/* Total Section */
.total-section {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
}

.total-label {
  color: #555;
}

.total-amount {
  font-weight: bold;
  color: #ffa500; 
  font-size: 20px;
}

/* Checkbox */
.checkbox-group {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 25px;
}

.checkbox-group input {
  margin-right: 15px;
  width: 16px;
  height: 16px;
  margin-bottom: auto;
}

/* Finalize Button */
.finalize-btn {
  width: 90%;
  padding: 20px;
  background: linear-gradient(to right, #151277, #6a5acd); 
  color: rgb(255, 255, 255); //texto
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 25px;
  margin-right: 25px;
}

.finalize-btn:disabled {
  background: #b6bbf1;
  cursor: not-allowed;
  margin-right: 15px;
  margin-left: 15px;
}

.return-button {
  display: block;
  text-align: center;
  margin-top: 50px;
  color: #241d7a;
  text-decoration: none;
  font-size: 12px;
  text-transform: capitalize;
}
.is-invalid {
  border-color: #a20f1e !important;
}